<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/cat.jpeg" alt="cat profile">

<p><p>I am a dedicated software developer passionate about coding and problem-solving. My journey into software development showcases 
my commitment to continuous learning and personal growth. Currently, I am tackling over 100 medium tasks on LeetCode, demonstrating my enthusiasm f
or mastering complex coding challenges.</p>

<p><b>Educational Background</b>
My educational path began in Odessa, Ukraine, where she earned an M.D. in International Economy from Odessa National University (2005-2011). 
My academic excellence earned her a prestigious scholarship, recognizing me as one of the top 10% of students. 
This strong foundation in analytical thinking and strategic planning has greatly contributed to my success in software development.</p>

<p><b>Certifications</b>
My learning is evident in my extensive list of certifications. In 2023 alone, I completed multiple courses on Udemy, Sololearn, and HackerRank, 
covering topics such as SOLID Principles, C#, data structures, algorithms, and SQL. My learning journey continued into 2024 with a course on Recursion, 
Backtracking, and Dynamic Programming.</p>

<p><b>Notable Projects and Professional Experience</b>
One of mine notable projects is the game "Cafe," an interactive simulation developed using Visual Studio Code, Azure, and SQL.
This project combines her creativity and technical expertise, exploring data structures and applying SOLID principles.</p>

<p><b>Skills and Conclusion</b>
My technical skills include HTML, CSS, JavaScript, mySQL, Python, and C#. Her soft skills, such as teamwork, communication, strategic planning, 
and analytical thinking, have been instrumental in her successful career transition.</p></p>


<%- include("partials/footer.ejs") %>