<%- include("partials/header.ejs") %>

<main class="container">
  <div class="row row-cols-2">
    <div class="col">
      <h1 class="display-4 fst-italic">JavaScript</h1>
      <p class="lead my-3">Mastering algorithms is essential for working with JavaScript. An algorithm is a series of sequential instructions that allow actions or programs to be executed.
        Some articles that will help you more effectively use algorithms in your JavaScript applications include: <a href="/ContinueReading" class="text-body-emphasis fw-bold">Continue reading...</a></p>
      </div>
    <div class="col align-self-center">
      <a href="/makePost" class="text-body-emphasis fw-bold"><button type="button" class="btn btn-outline-success btn-lg">Make your post</button></a>
      </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
          <h3 class="mb-0">Generative AI Is Totally Shameless.</h3>
          <div class="mb-1 text-body-secondary">Jun 10</div>
          <p class="card-text mb-auto">The best thing about brain-melting software like ChatGPT? It doesn’t feel remorse.
            <a href="/ContinueWorld" class="text-body-emphasis fw-bold">Continue reading...</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
          <h3 class="mb-0">Guide System Design in 2024.</h3>
          <div class="mb-1 text-body-secondary">Jun 11</div>
          <p class="mb-auto">Enter system design: the art and science of crafting robust and secure software systems.
            <a a href="/ContinueDesign" class="text-body-emphasis fw-bold">Continue reading...</a></p>
        </div>
      </div>
    </div>

    <div class="col">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Posts
      </h3>
    </div>

</main>


<%- include("partials/footer.ejs") %>