/* home.css */
.blog-banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.blog-banner img {
    width: 100%;
    height: auto;
    max-height: 100vh; /* Ensures the image does not exceed the viewport height */
}

.blog {
    padding: 2rem 5vw;
    max-width: 800px;
    margin: 0 auto;
}

.blog-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
    color: #333;
}

.blog-article {
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
    color: #333;
    white-space: pre-wrap;
}

@media screen and (min-width: 768px) {
    .blog {
        padding: 3rem 5vw;
    }

    .blog-title {
        font-size: 2.5rem;
    }

    .blog-article {
        font-size: 1.125rem;
    }
}
