@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
    height: calc(100vh - 80px);
    background: url(/img/main1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

.vl {
    position: relative;
    width: 1px;
    background-color: #fff;
    height: 100%;
    display: inline-block;
    margin: 0 20px;
}

.vl-innertext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 10px;
}

.input-field {
    position: relative;
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
}

button {
    background: #fff;
    color: #2795e9c6;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

button:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2795e9c6;
    color: white;
    font-weight: 600;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    transition: 0.3s ease;
    text-decoration: none;
}

.google-btn:hover {
    background-color: rgba(44, 135, 204, 0.478);
}

.google-btn svg {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.bottom-container {
    margin-top: 20px;
}

.bottom-container .row {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.bottom-container .btn {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 3px;
    transition: 0.3s ease;
}

.bottom-container .btn:hover {
    background: rgba(255, 255, 255, 0.15);
}
