.input-field {
    margin-bottom: 20px;
    position: relative;
}

.input-field input[type="date"] {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-field label {
    margin-top: 20px;
    margin-bottom: 10px;
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 14px;
    color: #fff;
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .btn:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
  }