/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

/* Table Styles */
table {
  border-collapse: collapse;
  width: fit-content;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  text-align: left;
  padding: 16px;
  font-size: 16px;
}

th {
  background-color: #E9C46A;
  color: #939185;
}

td {
  border: 1px solid #e0e0e0;
}

td.right-align {
  text-align: center;
}

/* Headings */
thead th {
  background-color: #4f554f;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

/* Form Styles */
form {
  margin: 0;
  padding: 0;
  display: inline;
}

form.edit {
  display: inline-flex;
  align-items: center;
}

form .input-group {
  display: flex;
  align-items: center;
}

form .input-group input {
  border: 1px solid #e0e0e0;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  font-size: 16px;
}

form .input-group button {
  border: 1px solid #e0e0e0;
  border-left: none;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
}

form .input-group button:hover {
  background-color: #45a049;
}

/* Icons */
.icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

button.edit {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

button.edit:hover .icon {
  filter: brightness(0.8);
}

/* Add New User Button */
.add-item {
  text-align: center;
}

button.add {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button.add:hover {
  background-color: #45a049;
}

/* Hide the default checkbox */
input[type="checkbox"] {
  display: none;
}

.delete {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

/* Style the custom checkbox label */
.checkbox-image {
  width: 16px;
  height: 16px;
  cursor: pointer;
  
}

/* Change the image when the checkbox is checked */
input[type="checkbox"]:checked + label .checkbox-image {
  filter: brightness(3); /* Darken the image on checked */
}

/* Responsive Design */
@media (max-width: 768px) {
  table {
      width: 100%;
  }

  th, td {
      font-size: 14px;
      padding: 12px;
  }

  form .input-group input {
      padding: 8px;
  }

  form .input-group button {
      padding: 8px;
  }
}
